<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Must do in relation to the index.php page -->
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <title>Dating Website</title>
</head>
<body>

<ul class="nav">
    <li class="nav-item">
        <a id="nav-text" class="nav-link" href="">Kitty Dating Website</a>
    </li>
</ul>
<hr>

<div class="container">
    <div class="row border rounded">
        <div id="left-col" class="col-sm-6">
            <h1 class="text-center">Kitty Dating Website</h1>
            <p>Welcome to <strong>Kitty Dating Website</strong> the premier site for cat dating. More kitties have met
                their significant other cat here than any other website. Feel free to sign up below.</p>
            <h2 class="text-center">Hear what our users say!</h2>
            <hr>
            <div id="user-comments" class="text-left">
                <p class="font-italic">"I met my favorite here." - Pinky</p>
                <p class="font-italic">"This is my favorite website I have met many other cats here and had
                    many great relationships." - Shadow</p>
                <p class="font-italic">"I met the love of my life here in only 3 months!" - Stripey</p>
            </div>
            <hr>
            <form method="post" action="personal-info">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary bottomMargin">Create a Profile!</button>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <img id="cats" class="img-fluid rounded" src="images/cats-crop.jpg" alt="cats picture">
        </div>
    </div>
</div>
</body>
</html>