#user-comments {
    padding-left: 20px;
    padding-right: 20px;
}

#nav-text {
    margin-bottom: 0;
    padding-bottom: 0;
}

#left-col {
    margin-top: 20px;
}

#cats {
    margin-top: 20px;
}

#radioBtns {
    margin-bottom: 10px;
}

.bottomMargin {
    margin-bottom: 20px;
}

.checkInterests {
    padding-left: 30px;
}

.noBottomMargin {
    margin-bottom: 5px;
}

#profileSum {
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    width: 100%;
}

#note {
    margin-top: 23px;
}

#profilePic {
    margin-bottom: 10px;
}

.row {
    padding-top: 10px;
}